streamlit
langchain
langchain-openai
langchain-community
langgraph
chromadb
azure-storage-blob
psycopg2-binary
redis
sentence-transformers
pytesseract
pdf2image
pdfplumber
pytest
python-dotenv
arize-phoenix-otel
torch
torchvision
transformers
reportlab
Pillow
python-doctr[torch]
opentelemetry-api
opentelemetry-sdk
